<!-- The following code extends a base HTML template. -->
{% extends "base.html" %}

<!-- This section defines the title of the page, which will be "Sign Up". -->
{% block title %}Sign Up{% endblock %}

<!-- This section defines the content of the page. -->
{% block content %}
<form method="POST">
  <!-- A heading for the sign-up form with center alignment. -->
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <!-- Label for the email input field. -->
    <label for="email">Email Address</label>
    <!-- Input field for the user to enter their email. -->
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <!-- Label for the first name input field. -->
    <label for="firstName">First Name</label>
    <!-- Input field for the user to enter their first name. -->
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <!-- Label for the password input field. -->
    <label for="password1">Password</label>
    <!-- Input field for the user to enter their password. -->
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <!-- Label for the password confirmation input field. -->
    <label for="password2">Password (Confirm)</label>
    <!-- Input field for the user to confirm their password. -->
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <br />
  <!-- A button for submitting the sign-up form. -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- End of the content block. -->
{% endblock %}

